In [1]:
print("Hello!")

Hello!

In [10]:
%%sh 

pip freeze > requirements.txt

In [9]:
%%sh 

pip install pyspark pandas

Requirement already satisfied: pyspark in ./.venv/lib/python3.12/site-packages (3.5.2)
Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Requirement already satisfied: py4j==0.10.9.7 in ./.venv/lib/python3.12/site-packages (from pyspark) (0.10.9.7)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.1.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
Using cached numpy-2.1.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.1 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [11]:
%%sh 

pip install -r requirements.txt

Requirement already satisfied: asttokens==2.4.1 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 1)) (2.4.1)
Requirement already satisfied: comm==0.2.2 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 2)) (0.2.2)
Requirement already satisfied: debugpy==1.8.5 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 3)) (1.8.5)
Requirement already satisfied: decorator==5.1.1 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 4)) (5.1.1)
Requirement already satisfied: executing==2.1.0 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 5)) (2.1.0)
Requirement already satisfied: ipykernel==6.29.5 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 6)) (6.29.5)
Requirement already satisfied: ipython==8.27.0 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 7)) (8.27.0)
Requirement already satisfied: jedi==0.19.1 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 8)) (0.19.1)
Requirement already satisfied: jupyter_client==8.6.2 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 9)) (8.6.2)
Requirement already satisfied: jupyter_core==5.7.2 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 10)) (5.7.2)
Requirement already satisfied: matplotlib-inline==0.1.7 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 11)) (0.1.7)
Requirement already satisfied: nest-asyncio==1.6.0 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 12)) (1.6.0)
Requirement already satisfied: numpy==2.1.1 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 13)) (2.1.1)
Requirement already satisfied: packaging==24.1 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 14)) (24.1)
Requirement already satisfied: pandas==2.2.2 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 15)) (2.2.2)
Requirement already satisfied: parso==0.8.4 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 16)) (0.8.4)
Requirement already satisfied: pexpect==4.9.0 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 17)) (4.9.0)
Requirement already satisfied: platformdirs==4.3.1 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 18)) (4.3.1)
Requirement already satisfied: prompt_toolkit==3.0.47 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 19)) (3.0.47)
Requirement already satisfied: psutil==6.0.0 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 20)) (6.0.0)
Requirement already satisfied: ptyprocess==0.7.0 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 21)) (0.7.0)
Requirement already satisfied: pure_eval==0.2.3 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 22)) (0.2.3)
Requirement already satisfied: py4j==0.10.9.7 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 23)) (0.10.9.7)
Requirement already satisfied: Pygments==2.18.0 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 24)) (2.18.0)
Requirement already satisfied: pyspark==3.5.2 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 25)) (3.5.2)
Requirement already satisfied: python-dateutil==2.9.0.post0 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 26)) (2.9.0.post0)
Requirement already satisfied: pytz==2024.1 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 27)) (2024.1)
Requirement already satisfied: pyzmq==26.2.0 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 28)) (26.2.0)
Requirement already satisfied: six==1.16.0 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 29)) (1.16.0)
Requirement already satisfied: stack-data==0.6.3 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 30)) (0.6.3)
Requirement already satisfied: tornado==6.4.1 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 31)) (6.4.1)
Requirement already satisfied: traitlets==5.14.3 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 32)) (5.14.3)
Requirement already satisfied: tzdata==2024.1 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 33)) (2024.1)
Requirement already satisfied: wcwidth==0.2.13 in ./.venv/lib/python3.12/site-packages (from -r requirements.txt (line 34)) (0.2.13)

In [2]:
from os.path import abspath

from pyspark.sql import SparkSession
from pyspark.sql import Row

In [3]:
# warehouse_location points to the default location for managed databases and tables
warehouse_location = abspath('spark-warehouse')

In [4]:
spark = SparkSession \
    .builder \
    .appName("VideoGameEDA") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .enableHiveSupport() \
    .getOrCreate()

24/09/08 12:53:52 WARN Utils: Your hostname, riddhi-pc resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/09/08 12:53:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/08 12:53:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark

24/09/08 12:54:12 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [86]:
csvDF = spark.read.options(header=True).csv('Datasets/Video_Games.csv')

In [22]:
csvDF.show(5)

+--------------------+--------+---------------+------------+---------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+---------+------+
|                Name|Platform|Year_of_Release|       Genre|Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|Critic_Score|Critic_Count|User_Score|User_Count|Developer|Rating|
+--------------------+--------+---------------+------------+---------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+---------+------+
|          Wii Sports|     Wii|           2006|      Sports| Nintendo|   41.36|   28.96|    3.77|       8.45|       82.53|          76|          51|         8|       322| Nintendo|     E|
|   Super Mario Bros.|     NES|           1985|    Platform| Nintendo|   29.08|    3.58|    6.81|       0.77|       40.24|        NULL|        NULL|      NULL|      NULL|     NULL|  NULL|
|      Mario Kart Wii|     Wii|           2008|      Racing| Nintendo|   15.68|   12.76|    3.79|       3.29|       35.52|          82|          73|       8.3|       709| Nintendo|     E|
|   Wii Sports Resort|     Wii|           2009|      Sports| Nintendo|   15.61|   10.93|    3.28|       2.95|       32.77|          80|          73|         8|       192| Nintendo|     E|
|Pokemon Red/Pokem...|      GB|           1996|Role-Playing| Nintendo|   11.27|    8.89|   10.22|          1|       31.37|        NULL|        NULL|      NULL|      NULL|     NULL|  NULL|
+--------------------+--------+---------------+------------+---------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+---------+------+
only showing top 5 rows

In [93]:
# 1. we can create table using above dataframe
csvDF.write.mode('overwrite').saveAsTable("videogame_eda_tbl")

In [117]:
spark.read.table("videogame_eda_tbl").show(truncate=False)

+--------------------------------------------+--------+---------------+------------+----------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+-------------------+------+
|Name                                        |Platform|Year_of_Release|Genre       |Publisher             |NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|Critic_Score|Critic_Count|User_Score|User_Count|Developer          |Rating|
+--------------------------------------------+--------+---------------+------------+----------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+-------------------+------+
|Wii Sports                                  |Wii     |2006           |Sports      |Nintendo              |41.36   |28.96   |3.77    |8.45       |82.53       |76          |51          |8         |322       |Nintendo           |E     |
|Super Mario Bros.                           |NES     |1985           |Platform    |Nintendo              |29.08   |3.58    |6.81    |0.77       |40.24       |NULL        |NULL        |NULL      |NULL      |NULL               |NULL  |
|Mario Kart Wii                              |Wii     |2008           |Racing      |Nintendo              |15.68   |12.76   |3.79    |3.29       |35.52       |82          |73          |8.3       |709       |Nintendo           |E     |
|Wii Sports Resort                           |Wii     |2009           |Sports      |Nintendo              |15.61   |10.93   |3.28    |2.95       |32.77       |80          |73          |8         |192       |Nintendo           |E     |
|Pokemon Red/Pokemon Blue                    |GB      |1996           |Role-Playing|Nintendo              |11.27   |8.89    |10.22   |1          |31.37       |NULL        |NULL        |NULL      |NULL      |NULL               |NULL  |
|Tetris                                      |GB      |1989           |Puzzle      |Nintendo              |23.2    |2.26    |4.22    |0.58       |30.26       |NULL        |NULL        |NULL      |NULL      |NULL               |NULL  |
|New Super Mario Bros.                       |DS      |2006           |Platform    |Nintendo              |11.28   |9.14    |6.5     |2.88       |29.8        |89          |65          |8.5       |431       |Nintendo           |E     |
|Wii Play                                    |Wii     |2006           |Misc        |Nintendo              |13.96   |9.18    |2.93    |2.84       |28.92       |58          |41          |6.6       |129       |Nintendo           |E     |
|New Super Mario Bros. Wii                   |Wii     |2009           |Platform    |Nintendo              |14.44   |6.94    |4.7     |2.24       |28.32       |87          |80          |8.4       |594       |Nintendo           |E     |
|Duck Hunt                                   |NES     |1984           |Shooter     |Nintendo              |26.93   |0.63    |0.28    |0.47       |28.31       |NULL        |NULL        |NULL      |NULL      |NULL               |NULL  |
|Nintendogs                                  |DS      |2005           |Simulation  |Nintendo              |9.05    |10.95   |1.93    |2.74       |24.67       |NULL        |NULL        |NULL      |NULL      |NULL               |NULL  |
|Mario Kart DS                               |DS      |2005           |Racing      |Nintendo              |9.71    |7.47    |4.13    |1.9        |23.21       |91          |64          |8.6       |464       |Nintendo           |E     |
|Pokemon Gold/Pokemon Silver                 |GB      |1999           |Role-Playing|Nintendo              |9       |6.18    |7.2     |0.71       |23.1        |NULL        |NULL        |NULL      |NULL      |NULL               |NULL  |
|Wii Fit                                     |Wii     |2007           |Sports      |Nintendo              |8.92    |8.03    |3.6     |2.15       |22.7        |80          |63          |7.7       |146       |Nintendo           |E     |
|Kinect Adventures!                          |X360    |2010           |Misc        |Microsoft Game Studios|15      |4.89    |0.24    |1.69       |21.81       |61          |45          |6.3       |106       |Good Science Studio|E     |
|Wii Fit Plus                                |Wii     |2009           |Sports      |Nintendo              |9.01    |8.49    |2.53    |1.77       |21.79       |80          |33          |7.4       |52        |Nintendo           |E     |
|Grand Theft Auto V                          |PS3     |2013           |Action      |Take-Two Interactive  |7.02    |9.09    |0.98    |3.96       |21.04       |97          |50          |8.2       |3994      |Rockstar North     |M     |
|Grand Theft Auto: San Andreas               |PS2     |2004           |Action      |Take-Two Interactive  |9.43    |0.4     |0.41    |10.57      |20.81       |95          |80          |9         |1588      |Rockstar North     |M     |
|Super Mario World                           |SNES    |1990           |Platform    |Nintendo              |12.78   |3.75    |3.54    |0.55       |20.61       |NULL        |NULL        |NULL      |NULL      |NULL               |NULL  |
|Brain Age: Train Your Brain in Minutes a Day|DS      |2005           |Misc        |Nintendo              |4.74    |9.2     |4.16    |2.04       |20.15       |77          |58          |7.9       |50        |Nintendo           |E     |
+--------------------------------------------+--------+---------------+------------+----------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+-------------------+------+
only showing top 20 rows

In [92]:
# drop table
spark.sql("DROP TABLE videogame_eda_tbl")

DataFrame[]

In [78]:
# 2. creat table using Hive (It'll be automatically created in Hive Warehouse)
spark.sql("""CREATE TABLE IF NOT EXISTS videogame_eda_tbl
          (Name VARCHAR(50), Platform VARCHAR(10), 
            Year_of_Release INT, Genre VARCHAR(20),
            Publisher VARCHAR(20), NA_Sales FLOAT,
            EU_Sales FLOAT, JP_Sales FLOAT,
            Other_Sales FLOAT, Global_Sales FLOAT,
            Critic_Score FLOAT, Critic_Count INT,
            User_Score FLOAT, User_Count INT,
            Developer VARCHAR(20), Rating VARCHAR(10)
          ) 
          ROW FORMAT DELIMITED 
          FIELDS TERMINATED BY ','
          TBLPROPERTIES ('skip.header.line.count'='1')
          """)

24/09/08 13:43:48 WARN HiveMetaStore: Location: file:/home/riddhipc/Documents/learning/github-projects/videogame-EDA/spark-warehouse/videogame_eda_tbl specified for non-external table:videogame_eda_tbl

DataFrame[]

In [79]:
spark.sql("DESCRIBE TABLE videogame_eda_tbl").show()

+---------------+-----------+-------+
|       col_name|  data_type|comment|
+---------------+-----------+-------+
|           Name|varchar(50)|   NULL|
|       Platform|varchar(10)|   NULL|
|Year_of_Release|        int|   NULL|
|          Genre|varchar(20)|   NULL|
|      Publisher|varchar(20)|   NULL|
|       NA_Sales|      float|   NULL|
|       EU_Sales|      float|   NULL|
|       JP_Sales|      float|   NULL|
|    Other_Sales|      float|   NULL|
|   Global_Sales|      float|   NULL|
|   Critic_Score|      float|   NULL|
|   Critic_Count|        int|   NULL|
|     User_Score|      float|   NULL|
|     User_Count|        int|   NULL|
|      Developer|varchar(20)|   NULL|
|         Rating|varchar(10)|   NULL|
+---------------+-----------+-------+

In [80]:
# check if Table created properlly
spark.sql("""SELECT *
            FROM videogame_eda_tbl""").show()

+----+--------+---------------+-----+---------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+---------+------+
|Name|Platform|Year_of_Release|Genre|Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|Critic_Score|Critic_Count|User_Score|User_Count|Developer|Rating|
+----+--------+---------------+-----+---------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+---------+------+
+----+--------+---------------+-----+---------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+---------+------+

In [81]:
# Load data from .csv file into recently created table (in Hive warehouse)
spark.sql("""LOAD DATA LOCAL INPATH 'Datasets/Video_Games.csv' 
          INTO TABLE videogame_eda_tbl""")

DataFrame[]

In [82]:
# spark.sql("TRUNCATE TABLE videogame_eda_tbl")

In [83]:
spark.sql("SELECT * FROM videogame_eda_tbl").show()

+--------------------+--------+---------------+------------+--------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+-------------------+------+
|                Name|Platform|Year_of_Release|       Genre|           Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|Critic_Score|Critic_Count|User_Score|User_Count|          Developer|Rating|
+--------------------+--------+---------------+------------+--------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+-------------------+------+
|                Name|Platform|           NULL|       Genre|           Publisher|    NULL|    NULL|    NULL|       NULL|        NULL|        NULL|        NULL|      NULL|      NULL|          Developer|Rating|
|          Wii Sports|     Wii|           2006|      Sports|            Nintendo|   41.36|   28.96|    3.77|       8.45|       82.53|        76.0|          51|       8.0|       322|           Nintendo|     E|
|   Super Mario Bros.|     NES|           1985|    Platform|            Nintendo|   29.08|    3.58|    6.81|       0.77|       40.24|        NULL|        NULL|      NULL|      NULL|                   |      |
|      Mario Kart Wii|     Wii|           2008|      Racing|            Nintendo|   15.68|   12.76|    3.79|       3.29|       35.52|        82.0|          73|       8.3|       709|           Nintendo|     E|
|   Wii Sports Resort|     Wii|           2009|      Sports|            Nintendo|   15.61|   10.93|    3.28|       2.95|       32.77|        80.0|          73|       8.0|       192|           Nintendo|     E|
|Pokemon Red/Pokem...|      GB|           1996|Role-Playing|            Nintendo|   11.27|    8.89|   10.22|        1.0|       31.37|        NULL|        NULL|      NULL|      NULL|                   |      |
|              Tetris|      GB|           1989|      Puzzle|            Nintendo|    23.2|    2.26|    4.22|       0.58|       30.26|        NULL|        NULL|      NULL|      NULL|                   |      |
|New Super Mario B...|      DS|           2006|    Platform|            Nintendo|   11.28|    9.14|     6.5|       2.88|        29.8|        89.0|          65|       8.5|       431|           Nintendo|     E|
|            Wii Play|     Wii|           2006|        Misc|            Nintendo|   13.96|    9.18|    2.93|       2.84|       28.92|        58.0|          41|       6.6|       129|           Nintendo|     E|
|New Super Mario B...|     Wii|           2009|    Platform|            Nintendo|   14.44|    6.94|     4.7|       2.24|       28.32|        87.0|          80|       8.4|       594|           Nintendo|     E|
|           Duck Hunt|     NES|           1984|     Shooter|            Nintendo|   26.93|    0.63|    0.28|       0.47|       28.31|        NULL|        NULL|      NULL|      NULL|                   |      |
|          Nintendogs|      DS|           2005|  Simulation|            Nintendo|    9.05|   10.95|    1.93|       2.74|       24.67|        NULL|        NULL|      NULL|      NULL|                   |      |
|       Mario Kart DS|      DS|           2005|      Racing|            Nintendo|    9.71|    7.47|    4.13|        1.9|       23.21|        91.0|          64|       8.6|       464|           Nintendo|     E|
|Pokemon Gold/Poke...|      GB|           1999|Role-Playing|            Nintendo|     9.0|    6.18|     7.2|       0.71|        23.1|        NULL|        NULL|      NULL|      NULL|                   |      |
|             Wii Fit|     Wii|           2007|      Sports|            Nintendo|    8.92|    8.03|     3.6|       2.15|        22.7|        80.0|          63|       7.7|       146|           Nintendo|     E|
|  Kinect Adventures!|    X360|           2010|        Misc|Microsoft Game Studi|    15.0|    4.89|    0.24|       1.69|       21.81|        61.0|          45|       6.3|       106|Good Science Studio|     E|
|        Wii Fit Plus|     Wii|           2009|      Sports|            Nintendo|    9.01|    8.49|    2.53|       1.77|       21.79|        80.0|          33|       7.4|        52|           Nintendo|     E|
|  Grand Theft Auto V|     PS3|           2013|      Action|Take-Two Interactive|    7.02|    9.09|    0.98|       3.96|       21.04|        97.0|          50|       8.2|      3994|     Rockstar North|     M|
|Grand Theft Auto:...|     PS2|           2004|      Action|Take-Two Interactive|    9.43|     0.4|    0.41|      10.57|       20.81|        95.0|          80|       9.0|      1588|     Rockstar North|     M|
|   Super Mario World|    SNES|           1990|    Platform|            Nintendo|   12.78|    3.75|    3.54|       0.55|       20.61|        NULL|        NULL|      NULL|      NULL|                   |      |
+--------------------+--------+---------------+------------+--------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+-------------------+------+
only showing top 20 rows

In [100]:
help(spark.sql("DESCRIBE FORMATTED videogame_eda_tbl").show(truncate=False))

+----------------------------+-------------+-------+
|col_name                    |data_type    |comment|
+----------------------------+-------------+-------+
|Name                        |string       |NULL   |
|Platform                    |string       |NULL   |
|Year_of_Release             |string       |NULL   |
|Genre                       |string       |NULL   |
|Publisher                   |string       |NULL   |
|NA_Sales                    |string       |NULL   |
|EU_Sales                    |string       |NULL   |
|JP_Sales                    |string       |NULL   |
|Other_Sales                 |string       |NULL   |
|Global_Sales                |string       |NULL   |
|Critic_Score                |string       |NULL   |
|Critic_Count                |string       |NULL   |
|User_Score                  |string       |NULL   |
|User_Count                  |string       |NULL   |
|Developer                   |string       |NULL   |
|Rating                      |string       |NULL   |
|                            |             |       |
|# Detailed Table Information|             |       |
|Catalog                     |spark_catalog|       |
|Database                    |default      |       |
+----------------------------+-------------+-------+
only showing top 20 rows

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [103]:
# Check files must be store in the  parquet files with snappy compression [Hint - Run Describe command]
# 1. 
spark.sql("DESCRIBE FORMATTED videogame_eda_tbl").show(100,truncate=False)

+----------------------------+------------------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                             |comment|
+----------------------------+------------------------------------------------------------------------------------------------------+-------+
|Name                        |string                                                                                                |NULL   |
|Platform                    |string                                                                                                |NULL   |
|Year_of_Release             |string                                                                                                |NULL   |
|Genre                       |string                                                                                                |NULL   |
|Publisher                   |string                                                                                                |NULL   |
|NA_Sales                    |string                                                                                                |NULL   |
|EU_Sales                    |string                                                                                                |NULL   |
|JP_Sales                    |string                                                                                                |NULL   |
|Other_Sales                 |string                                                                                                |NULL   |
|Global_Sales                |string                                                                                                |NULL   |
|Critic_Score                |string                                                                                                |NULL   |
|Critic_Count                |string                                                                                                |NULL   |
|User_Score                  |string                                                                                                |NULL   |
|User_Count                  |string                                                                                                |NULL   |
|Developer                   |string                                                                                                |NULL   |
|Rating                      |string                                                                                                |NULL   |
|                            |                                                                                                      |       |
|# Detailed Table Information|                                                                                                      |       |
|Catalog                     |spark_catalog                                                                                         |       |
|Database                    |default                                                                                               |       |
|Table                       |videogame_eda_tbl                                                                                     |       |
|Owner                       |riddhipc                                                                                              |       |
|Created Time                |Sun Sep 08 13:53:50 EDT 2024                                                                          |       |
|Last Access                 |UNKNOWN                                                                                               |       |
|Created By                  |Spark 3.5.2                                                                                           |       |
|Type                        |MANAGED                                                                                               |       |
|Provider                    |parquet                                                                                               |       |
|Statistics                  |471855 bytes                                                                                          |       |
|Location                    |file:/home/riddhipc/Documents/learning/github-projects/videogame-EDA/spark-warehouse/videogame_eda_tbl|       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe                                           |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat                                         |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat                                        |       |
+----------------------------+------------------------------------------------------------------------------------------------------+-------+

In [111]:
%%sh 
# Describe stored file(or table file) informations using following line - 
# 2. using sh command

ls -alh spark-warehouse/videogame_eda_tbl/

total 480K
drwxr-xr-x 2 riddhipc riddhipc 4.0K Sep  8 13:53 .
drwxrwxr-x 3 riddhipc riddhipc 4.0K Sep  8 13:53 ..
-rw-r--r-- 1 riddhipc riddhipc 461K Sep  8 13:53 part-00000-44227652-ac5c-4fd3-bff4-21a5b843014a-c000.snappy.parquet
-rw-r--r-- 1 riddhipc riddhipc 3.7K Sep  8 13:53 .part-00000-44227652-ac5c-4fd3-bff4-21a5b843014a-c000.snappy.parquet.crc
-rw-r--r-- 1 riddhipc riddhipc    0 Sep  8 13:53 _SUCCESS
-rw-r--r-- 1 riddhipc riddhipc    8 Sep  8 13:53 ._SUCCESS.crc

In [123]:
spark.sql("SELECT NAME, COUNT(NAME) FROM videogame_eda_tbl GROUP BY NAME").show(truncate = False)

+-----------------------------------------+-----------+
|NAME                                     |count(NAME)|
+-----------------------------------------+-----------+
|The Elder Scrolls V: Skyrim              |5          |
|The Legend of Zelda: Oracle of Ages      |1          |
|Call of Duty Black Ops: Declassified     |1          |
|Joust                                    |1          |
|Legacy of Kain: Soul Reaver              |1          |
|All-Star Baseball 2003                   |4          |
|J-League Soccer: Prime Goal              |1          |
|RIFT                                     |1          |
|Ninokuni: Shikkoku no Madoushi           |1          |
|Paws & Claws: Dogs & Cats Best Friends   |1          |
|Barnstorming                             |1          |
|Barbie: Jet, Set & Style!                |2          |
|Yu-Gi-Oh! GX: Tag Force 2                |1          |
|Sherlock Holmes: The Mystery of the Mummy|1          |
|ESPN X Games Skateboarding               |2          |
|Virtua Cop 2                             |1          |
|RalliSport Challenge 2                   |1          |
|That's So Raven: Psychic on the Scene    |1          |
|Naruto: Ninja Council 2 European Version |1          |
|Petz: Horse Club                         |1          |
+-----------------------------------------+-----------+
only showing top 20 rows

In [124]:
spark.sql("SELECT * FROM videogame_eda_tbl \
           WHERE NAME = 'The Elder Scrolls V: Skyrim'").show(truncate=False)

+---------------------------+--------+---------------+------------+------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+---------------------+------+
|Name                       |Platform|Year_of_Release|Genre       |Publisher         |NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|Critic_Score|Critic_Count|User_Score|User_Count|Developer            |Rating|
+---------------------------+--------+---------------+------------+------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+---------------------+------+
|The Elder Scrolls V: Skyrim|X360    |2011           |Role-Playing|Bethesda Softworks|5.05    |2.79    |0.1     |0.85       |8.79        |96          |89          |8.4       |3589      |Bethesda Game Studios|M     |
|The Elder Scrolls V: Skyrim|PS3     |2011           |Role-Playing|Bethesda Softworks|2.55    |2.6     |0.25    |1          |6.41        |92          |16          |6.4       |2527      |Bethesda Game Studios|M     |
|The Elder Scrolls V: Skyrim|PC      |2011           |Role-Playing|Bethesda Softworks|1.16    |2.12    |0       |0.6        |3.88        |94          |32          |8.1       |9073      |Bethesda Game Studios|M     |
|The Elder Scrolls V: Skyrim|PS4     |2016           |Role-Playing|Bethesda Softworks|0.48    |0.59    |0.04    |0.21       |1.33        |NULL        |NULL        |NULL      |NULL      |NULL                 |NULL  |
|The Elder Scrolls V: Skyrim|XOne    |2016           |Role-Playing|Bethesda Softworks|0.41    |0.27    |0       |0.07       |0.74        |NULL        |NULL        |NULL      |NULL      |NULL                 |NULL  |
+---------------------------+--------+---------------+------------+------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+---------------------+------+

In [137]:
# Calculate the ToTal Sales per Game - North America, EU, JP, Global and Other sales
spark.sql("""SELECT Name, 
          ROUND(SUM(NA_Sales), 2) AS Total_NA_Sales, 
          ROUND(SUM(EU_Sales), 2) AS Total_EU_Sale, 
          ROUND(SUM(JP_Sales), 2) AS Total_JP_Sale, 
          ROUND(SUM(Global_Sales), 2) AS Total_Global_Sale, 
          ROUND(SUM(Other_Sales), 2) AS Total_Other_Sale
            FROM videogame_eda_tbl
            GROUP BY Name
""").show(truncate=False)

+-----------------------------------------+--------------+-------------+-------------+-----------------+----------------+
|Name                                     |Total_NA_Sales|Total_EU_Sale|Total_JP_Sale|Total_Global_Sale|Total_Other_Sale|
+-----------------------------------------+--------------+-------------+-------------+-----------------+----------------+
|The Elder Scrolls V: Skyrim              |9.65          |8.37         |0.39         |21.15            |2.73            |
|The Legend of Zelda: Oracle of Ages      |0.92          |0.53         |0.41         |1.92             |0.06            |
|Call of Duty Black Ops: Declassified     |0.71          |0.43         |0.07         |1.47             |0.26            |
|Joust                                    |1.01          |0.06         |0.0          |1.08             |0.01            |
|Legacy of Kain: Soul Reaver              |0.58          |0.4          |0.0          |1.04             |0.07            |
|All-Star Baseball 2003                   |0.8           |0.42         |0.0          |1.33             |0.11            |
|J-League Soccer: Prime Goal              |0.0           |0.0          |0.69         |0.69             |0.0             |
|RIFT                                     |0.44          |0.16         |0.0          |0.67             |0.07            |
|Ninokuni: Shikkoku no Madoushi           |0.0           |0.0          |0.54         |0.54             |0.0             |
|Paws & Claws: Dogs & Cats Best Friends   |0.46          |0.01         |0.0          |0.5              |0.04            |
|Barnstorming                             |0.4           |0.02         |0.0          |0.43             |0.0             |
|Barbie: Jet, Set & Style!                |0.56          |0.06         |0.0          |0.67             |0.05            |
|Yu-Gi-Oh! GX: Tag Force 2                |0.03          |0.19         |0.1          |0.41             |0.1             |
|Sherlock Holmes: The Mystery of the Mummy|0.06          |0.3          |0.0          |0.39             |0.04            |
|ESPN X Games Skateboarding               |0.31          |0.19         |0.0          |0.54             |0.05            |
|Virtua Cop 2                             |0.0           |0.0          |0.3          |0.3              |0.0             |
|RalliSport Challenge 2                   |0.18          |0.08         |0.0          |0.27             |0.01            |
|That's So Raven: Psychic on the Scene    |0.23          |0.0          |0.0          |0.24             |0.02            |
|Naruto: Ninja Council 2 European Version |0.0           |0.0          |0.23         |0.23             |0.0             |
|Petz: Horse Club                         |0.2           |0.0          |0.0          |0.21             |0.02            |
+-----------------------------------------+--------------+-------------+-------------+-----------------+----------------+
only showing top 20 rows

In [153]:
# Replace null values in the "Critic_Score" and "User_Score" columns with appropriate values
# using pyspark - we can't perform delete and update operation in hive table, so we'll update the dataframe
csvDF.na.fill({"Critic_Score" : 0, \
              "User_Score" : 0, \
              "Critic_Count" : 0, \
              "User_Count" : 0, \
              "Developer" : 'N/A', \
              "Rating" : 'N/A'}).show(50, truncate=False)

+--------------------------------------------+--------+---------------+------------+---------------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+------------------------------------------------------------+------+
|Name                                        |Platform|Year_of_Release|Genre       |Publisher                  |NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|Critic_Score|Critic_Count|User_Score|User_Count|Developer                                                   |Rating|
+--------------------------------------------+--------+---------------+------------+---------------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+------------------------------------------------------------+------+
|Wii Sports                                  |Wii     |2006           |Sports      |Nintendo                   |41.36   |28.96   |3.77    |8.45       |82.53       |76          |51          |8         |322       |Nintendo                                                    |E     |
|Super Mario Bros.                           |NES     |1985           |Platform    |Nintendo                   |29.08   |3.58    |6.81    |0.77       |40.24       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Mario Kart Wii                              |Wii     |2008           |Racing      |Nintendo                   |15.68   |12.76   |3.79    |3.29       |35.52       |82          |73          |8.3       |709       |Nintendo                                                    |E     |
|Wii Sports Resort                           |Wii     |2009           |Sports      |Nintendo                   |15.61   |10.93   |3.28    |2.95       |32.77       |80          |73          |8         |192       |Nintendo                                                    |E     |
|Pokemon Red/Pokemon Blue                    |GB      |1996           |Role-Playing|Nintendo                   |11.27   |8.89    |10.22   |1          |31.37       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Tetris                                      |GB      |1989           |Puzzle      |Nintendo                   |23.2    |2.26    |4.22    |0.58       |30.26       |0           |0           |0         |0         |N/A                                                         |N/A   |
|New Super Mario Bros.                       |DS      |2006           |Platform    |Nintendo                   |11.28   |9.14    |6.5     |2.88       |29.8        |89          |65          |8.5       |431       |Nintendo                                                    |E     |
|Wii Play                                    |Wii     |2006           |Misc        |Nintendo                   |13.96   |9.18    |2.93    |2.84       |28.92       |58          |41          |6.6       |129       |Nintendo                                                    |E     |
|New Super Mario Bros. Wii                   |Wii     |2009           |Platform    |Nintendo                   |14.44   |6.94    |4.7     |2.24       |28.32       |87          |80          |8.4       |594       |Nintendo                                                    |E     |
|Duck Hunt                                   |NES     |1984           |Shooter     |Nintendo                   |26.93   |0.63    |0.28    |0.47       |28.31       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Nintendogs                                  |DS      |2005           |Simulation  |Nintendo                   |9.05    |10.95   |1.93    |2.74       |24.67       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Mario Kart DS                               |DS      |2005           |Racing      |Nintendo                   |9.71    |7.47    |4.13    |1.9        |23.21       |91          |64          |8.6       |464       |Nintendo                                                    |E     |
|Pokemon Gold/Pokemon Silver                 |GB      |1999           |Role-Playing|Nintendo                   |9       |6.18    |7.2     |0.71       |23.1        |0           |0           |0         |0         |N/A                                                         |N/A   |
|Wii Fit                                     |Wii     |2007           |Sports      |Nintendo                   |8.92    |8.03    |3.6     |2.15       |22.7        |80          |63          |7.7       |146       |Nintendo                                                    |E     |
|Kinect Adventures!                          |X360    |2010           |Misc        |Microsoft Game Studios     |15      |4.89    |0.24    |1.69       |21.81       |61          |45          |6.3       |106       |Good Science Studio                                         |E     |
|Wii Fit Plus                                |Wii     |2009           |Sports      |Nintendo                   |9.01    |8.49    |2.53    |1.77       |21.79       |80          |33          |7.4       |52        |Nintendo                                                    |E     |
|Grand Theft Auto V                          |PS3     |2013           |Action      |Take-Two Interactive       |7.02    |9.09    |0.98    |3.96       |21.04       |97          |50          |8.2       |3994      |Rockstar North                                              |M     |
|Grand Theft Auto: San Andreas               |PS2     |2004           |Action      |Take-Two Interactive       |9.43    |0.4     |0.41    |10.57      |20.81       |95          |80          |9         |1588      |Rockstar North                                              |M     |
|Super Mario World                           |SNES    |1990           |Platform    |Nintendo                   |12.78   |3.75    |3.54    |0.55       |20.61       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Brain Age: Train Your Brain in Minutes a Day|DS      |2005           |Misc        |Nintendo                   |4.74    |9.2     |4.16    |2.04       |20.15       |77          |58          |7.9       |50        |Nintendo                                                    |E     |
|Pokemon Diamond/Pokemon Pearl               |DS      |2006           |Role-Playing|Nintendo                   |6.38    |4.46    |6.04    |1.36       |18.25       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Super Mario Land                            |GB      |1989           |Platform    |Nintendo                   |10.83   |2.71    |4.18    |0.42       |18.14       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Super Mario Bros. 3                         |NES     |1988           |Platform    |Nintendo                   |9.54    |3.44    |3.84    |0.46       |17.28       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Grand Theft Auto V                          |X360    |2013           |Action      |Take-Two Interactive       |9.66    |5.14    |0.06    |1.41       |16.27       |97          |58          |8.1       |3711      |Rockstar North                                              |M     |
|Grand Theft Auto: Vice City                 |PS2     |2002           |Action      |Take-Two Interactive       |8.41    |5.49    |0.47    |1.78       |16.15       |95          |62          |8.7       |730       |Rockstar North                                              |M     |
|Pokemon Ruby/Pokemon Sapphire               |GBA     |2002           |Role-Playing|Nintendo                   |6.06    |3.9     |5.38    |0.5        |15.85       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Brain Age 2: More Training in Minutes a Day |DS      |2005           |Puzzle      |Nintendo                   |3.43    |5.35    |5.32    |1.18       |15.29       |77          |37          |7.1       |19        |Nintendo                                                    |E     |
|Pokemon Black/Pokemon White                 |DS      |2010           |Role-Playing|Nintendo                   |5.51    |3.17    |5.65    |0.8        |15.14       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Gran Turismo 3: A-Spec                      |PS2     |2001           |Racing      |Sony Computer Entertainment|6.85    |5.09    |1.87    |1.16       |14.98       |95          |54          |8.4       |314       |Polyphony Digital                                           |E     |
|Call of Duty: Modern Warfare 3              |X360    |2011           |Shooter     |Activision                 |9.04    |4.24    |0.13    |1.32       |14.73       |88          |81          |3.4       |8713      |Infinity Ward, Sledgehammer Games                           |M     |
|Pokémon Yellow: Special Pikachu Edition     |GB      |1998           |Role-Playing|Nintendo                   |5.89    |5.04    |3.12    |0.59       |14.64       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Call of Duty: Black Ops 3                   |PS4     |2015           |Shooter     |Activision                 |6.03    |5.86    |0.36    |2.38       |14.63       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Call of Duty: Black Ops                     |X360    |2010           |Shooter     |Activision                 |9.7     |3.68    |0.11    |1.13       |14.61       |87          |89          |6.3       |1454      |Treyarch                                                    |M     |
|Pokemon X/Pokemon Y                         |3DS     |2013           |Role-Playing|Nintendo                   |5.28    |4.19    |4.35    |0.78       |14.6        |0           |0           |0         |0         |N/A                                                         |N/A   |
|Call of Duty: Black Ops II                  |PS3     |2012           |Shooter     |Activision                 |4.99    |5.73    |0.65    |2.42       |13.79       |83          |21          |5.3       |922       |Treyarch                                                    |M     |
|Call of Duty: Black Ops II                  |X360    |2012           |Shooter     |Activision                 |8.25    |4.24    |0.07    |1.12       |13.67       |83          |73          |4.8       |2256      |Treyarch                                                    |M     |
|Call of Duty: Modern Warfare 2              |X360    |2009           |Shooter     |Activision                 |8.52    |3.59    |0.08    |1.28       |13.47       |94          |100         |6.3       |2698      |Infinity Ward                                               |M     |
|Call of Duty: Modern Warfare 3              |PS3     |2011           |Shooter     |Activision                 |5.54    |5.73    |0.49    |1.57       |13.32       |88          |39          |3.2       |5234      |Infinity Ward, Sledgehammer Games                           |M     |
|Grand Theft Auto III                        |PS2     |2001           |Action      |Take-Two Interactive       |6.99    |4.51    |0.3     |1.3        |13.1        |97          |56          |8.5       |664       |DMA Design                                                  |M     |
|Super Smash Bros. Brawl                     |Wii     |2008           |Fighting    |Nintendo                   |6.62    |2.55    |2.66    |1.01       |12.84       |93          |81          |8.9       |1662      |Game Arts                                                   |T     |
|Mario Kart 7                                |3DS     |2011           |Racing      |Nintendo                   |5.03    |4.02    |2.69    |0.91       |12.66       |85          |73          |8.2       |632       |Retro Studios, Entertainment Analysis & Development Division|E     |
|Call of Duty: Black Ops                     |PS3     |2010           |Shooter     |Activision                 |5.99    |4.37    |0.48    |1.79       |12.63       |88          |58          |6.4       |1094      |Treyarch                                                    |M     |
|Grand Theft Auto V                          |PS4     |2014           |Action      |Take-Two Interactive       |3.96    |6.31    |0.38    |1.97       |12.61       |97          |66          |8.3       |2899      |Rockstar North                                              |M     |
|Animal Crossing: Wild World                 |DS      |2005           |Simulation  |Nintendo                   |2.5     |3.45    |5.33    |0.86       |12.13       |86          |57          |8.7       |242       |Nintendo                                                    |E     |
|Halo 3                                      |X360    |2007           |Shooter     |Microsoft Game Studios     |7.97    |2.81    |0.13    |1.21       |12.12       |94          |86          |7.8       |4100      |Bungie Software, Bungie                                     |M     |
|Super Mario 64                              |N64     |1996           |Platform    |Nintendo                   |6.91    |2.85    |1.91    |0.23       |11.89       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Pokemon HeartGold/Pokemon SoulSilver        |DS      |2009           |Action      |Nintendo                   |4.34    |2.71    |3.96    |0.76       |11.77       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Pokemon Omega Ruby/Pokemon Alpha Sapphire   |3DS     |2014           |Role-Playing|Nintendo                   |4.35    |3.49    |3.1     |0.74       |11.68       |0           |0           |0         |0         |N/A                                                         |N/A   |
|Gran Turismo 4                              |PS2     |2004           |Racing      |Sony Computer Entertainment|3.01    |0.01    |1.1     |7.53       |11.66       |89          |74          |8.5       |272       |Polyphony Digital                                           |E     |
|Super Mario Galaxy                          |Wii     |2007           |Platform    |Nintendo                   |6.06    |3.35    |1.2     |0.74       |11.35       |97          |73          |8.9       |2147      |Nintendo                                                    |E     |
+--------------------------------------------+--------+---------------+------------+---------------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+------------------------------------------------------------+------+
only showing top 50 rows

In [158]:
# Get total number of the unique Gaming Platforms.
spark.sql("SELECT Platform, COUNT(Platform) AS Total_Platform \
          FROM videogame_eda_tbl \
          GROUP BY Platform").show(100, truncate = False)

+--------+--------------+
|Platform|Total_Platform|
+--------+--------------+
|3DO     |3             |
|PC      |974           |
|PS3     |1331          |
|NES     |98            |
|PS      |1197          |
|DC      |52            |
|GEN     |29            |
|PS2     |2161          |
|3DS     |520           |
|PCFX    |1             |
|GG      |1             |
|WiiU    |147           |
|SNES    |239           |
|GB      |98            |
|SCD     |6             |
|N64     |319           |
|PS4     |393           |
|PSP     |1209          |
|2600    |133           |
|XOne    |247           |
|X360    |1262          |
|GBA     |822           |
|WS      |6             |
|Wii     |1320          |
|GC      |556           |
|PSV     |432           |
|XB      |824           |
|DS      |2152          |
|TG16    |2             |
|NG      |12            |
|SAT     |173           |
+--------+--------------+

In [195]:
# Identify the top-selling games globally and regionally (NA, EU, JP, Globally, Other) - Top 10.
# NA_Sales
spark.sql("""SELECT Name, 
            ROUND(SUM(NA_Sales), 2) AS Top_NA_Sales
            FROM videogame_eda_tbl
            GROUP BY Name
            ORDER BY Top10_NA_Sales DESC
            LIMIT 10""").show(truncate = False)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Top10_NA_Sales` cannot be resolved. Did you mean one of the following? [`Top_NA_Sales`, `spark_catalog`.`default`.`videogame_eda_tbl`.`Name`].; line 5 pos 21;
'GlobalLimit 10
+- 'LocalLimit 10
   +- 'Sort ['Top10_NA_Sales DESC NULLS LAST], true
      +- Aggregate [Name#3023], [Name#3023, round(sum(cast(NA_Sales#3028 as double)), 2) AS Top_NA_Sales#5898]
         +- SubqueryAlias spark_catalog.default.videogame_eda_tbl
            +- Relation spark_catalog.default.videogame_eda_tbl[Name#3023,Platform#3024,Year_of_Release#3025,Genre#3026,Publisher#3027,NA_Sales#3028,EU_Sales#3029,JP_Sales#3030,Other_Sales#3031,Global_Sales#3032,Critic_Score#3033,Critic_Count#3034,User_Score#3035,User_Count#3036,Developer#3037,Rating#3038] parquet

In [194]:
# EU_Sales
spark.sql("""SELECT Name, 
            ROUND(SUM(EU_Sales), 2) AS Top10_EU_Sales
            FROM videogame_eda_tbl
            GROUP BY Name
            ORDER BY Top10_EU_Sales DESC
            LIMIT 10""").show(truncate = False)

+------------------------------+--------------+
|Name                          |Top10_EU_Sales|
+------------------------------+--------------+
|Wii Sports                    |28.96         |
|Grand Theft Auto V            |23.42         |
|Mario Kart Wii                |12.76         |
|FIFA 15                       |12.02         |
|Call of Duty: Modern Warfare 3|11.15         |
|FIFA 16                       |11.09         |
|FIFA 14                       |10.96         |
|Nintendogs                    |10.95         |
|Wii Sports Resort             |10.93         |
|Call of Duty: Black Ops II    |10.84         |
+------------------------------+--------------+

In [193]:
# JP_Sales
spark.sql("""SELECT Name, 
            ROUND(SUM(JP_Sales), 2) AS Top10_JP_Sales
            FROM videogame_eda_tbl
            GROUP BY Name
            ORDER BY Top10_JP_Sales DESC
            LIMIT 10""").show(truncate = False)

+----------------------------------+--------------+
|Name                              |Top10_JP_Sales|
+----------------------------------+--------------+
|Pokemon Red/Pokemon Blue          |10.22         |
|Pokemon Gold/Pokemon Silver       |7.2           |
|Super Mario Bros.                 |6.96          |
|New Super Mario Bros.             |6.5           |
|Pokemon Diamond/Pokemon Pearl     |6.04          |
|Tetris                            |6.03          |
|Pokemon Black/Pokemon White       |5.65          |
|Dragon Quest VII: Warriors of Eden|5.4           |
|Pokemon Ruby/Pokemon Sapphire     |5.38          |
|Animal Crossing: Wild World       |5.33          |
+----------------------------------+--------------+

In [196]:
# Global_Sales
spark.sql("""SELECT Name, 
            ROUND(SUM(Global_Sales), 2) AS Top10_Global_Sales
            FROM videogame_eda_tbl
            GROUP BY Name
            ORDER BY Top10_Global_Sales DESC
            LIMIT 10""").show(truncate = False)

+------------------------------+------------------+
|Name                          |Top10_Global_Sales|
+------------------------------+------------------+
|Wii Sports                    |82.53             |
|Grand Theft Auto V            |56.57             |
|Super Mario Bros.             |45.31             |
|Tetris                        |35.84             |
|Mario Kart Wii                |35.52             |
|Wii Sports Resort             |32.77             |
|Pokemon Red/Pokemon Blue      |31.37             |
|Call of Duty: Black Ops       |30.82             |
|Call of Duty: Modern Warfare 3|30.59             |
|New Super Mario Bros.         |29.8              |
+------------------------------+------------------+

In [197]:
# Other_Sales
spark.sql("""SELECT Name, 
            ROUND(SUM(Other_Sales), 2) AS Top10_Other_Sales
            FROM videogame_eda_tbl
            GROUP BY Name
            ORDER BY Top10_Other_Sales DESC
            LIMIT 10""").show(truncate = False)

+------------------------------+-----------------+
|Name                          |Top10_Other_Sales|
+------------------------------+-----------------+
|Grand Theft Auto: San Andreas |10.71            |
|Wii Sports                    |8.45             |
|Grand Theft Auto V            |7.9              |
|Gran Turismo 4                |7.53             |
|Call of Duty: Black Ops II    |3.76             |
|FIFA Soccer 08                |3.52             |
|Pro Evolution Soccer 2008     |3.51             |
|Call of Duty: Black Ops 3     |3.49             |
|Call of Duty: Black Ops       |3.31             |
|Call of Duty: Modern Warfare 3|3.29             |
+------------------------------+-----------------+

In [216]:
# Popular Genres:Identify which genres are the most popular based on sales.
spark.sql("""SELECT Genre 
            AS Most_Popular_Genre,
            ROUND(SUM(NA_Sales + JP_Sales + EU_Sales + Other_Sales + Global_Sales), 2) 
            AS Total_Sales
            FROM videogame_eda_tbl
            WHERE Genre IS NOT NULL 
            GROUP BY Genre
            ORDER BY Total_Sales DESC""").show(100, truncate = False)

+------------------+-----------+
|Most_Popular_Genre|Total_Sales|
+------------------+-----------+
|Action            |3489.45    |
|Sports            |2663.27    |
|Shooter           |2105.39    |
|Role-Playing      |1869.01    |
|Platform          |1655.85    |
|Misc              |1605.69    |
|Racing            |1457.57    |
|Fighting          |895.01     |
|Simulation        |780.68     |
|Puzzle            |485.59     |
|Adventure         |475.28     |
|Strategy          |348.73     |
+------------------+-----------+

In [228]:
# Find total users per gaming platform
spark.sql("""SELECT Platform, 
          SUM(User_Count) AS Total_Users
          FROM videogame_eda_tbl
          GROUP BY Platform
          ORDER BY Total_Users DESC
          """).show(100, truncate = False)

+--------+-----------+
|Platform|Total_Users|
+--------+-----------+
|PC      |473781.0   |
|X360    |180793.0   |
|PS3     |180567.0   |
|PS4     |133166.0   |
|PS2     |54186.0    |
|XOne    |52010.0    |
|Wii     |29749.0    |
|WiiU    |22381.0    |
|3DS     |16041.0    |
|DS      |15764.0    |
|XB      |14216.0    |
|PSV     |13776.0    |
|GC      |13084.0    |
|PSP     |12808.0    |
|PS      |11964.0    |
|GBA     |5856.0     |
|DC      |1183.0     |
|3DO     |NULL       |
|NES     |NULL       |
|GEN     |NULL       |
|PCFX    |NULL       |
|GG      |NULL       |
|SNES    |NULL       |
|GB      |NULL       |
|SCD     |NULL       |
|N64     |NULL       |
|2600    |NULL       |
|WS      |NULL       |
|TG16    |NULL       |
|NG      |NULL       |
|SAT     |NULL       |
+--------+-----------+